table {
    height: 490px;
    width: 440px;
    background-color: gainsboro;
}

.operator {
    background-color: orange;
    color: white;
}

.result {
    background-color: grey;
    color: white;
    height: 140px;
    direction: rtl;
}

.box {
    background-color: grey;
    color: white;
    border: none;
    height: 140px;
    width: 440px;
    font-size: 4rem;
}

.operator2 {
    background-color: whitesmoke;
}

.num {
    background-color: white;
}

.num:hover {
    background-color: black;
    color: white;
}

.operator2:hover,
.operator:hover {
    background-color: burlywood;
    color: white;
}

.operator,
.num,
.operator2 {
    height: 70px;
    width: 110px;
    font-size: 3rem;
}

.operator3 {
    height: 70px;
    width: 225px;
    font-size: 3rem;
    background-color: orange;
    color: white;
}